services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: weather-backend
    ports:
      - "5000:5000"
    environment:
      - OPENWEATHER_API_KEY=7003219cf1fb5b16332e89b438a7aeeb
      - NODE_ENV=production
    networks:
      - monitoring

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: weather-frontend
    ports:
      - "5173:80"
    depends_on:
      backend:
        condition: service_started
    networks:
      - monitoring

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3001:3000"
    depends_on:
      prometheus:
        condition: service_started
    networks:
      - monitoring

networks:
  monitoring:
    driver: bridge
